{% extends 'index.html' %}
{% block 'contents' %}

Make or edit your tags.

<form method="post">
{% csrf_token %}

<div class="col-1">
<h4>Rhythm 1</h4>
{{ rhythm1_beats_formset.management_form }}
<div id="form_set_rhythm1">
    {% for form in rhythm1_beats_formset.forms %}
        <table class='no_error'>
            <h5>beat</h5>
            {{ form.as_table }}
        </table>
    {% endfor %}
</div>
</div>

<div class="col-7">
<h4>Rhythm 2</h4>
{{ rhythm2_beats_formset.management_form }}
<div id="form_set_rhythm2">
    {% for form in rhythm2_beats_formset.forms %}
        <table class='no_error'>
            <h5>beat</h5>
            {{ form.as_table }}
        </table>
    {% endfor %}
</div>
</div>

<input value='Submit' type="submit">
</form>

{% endblock %}