{% extends 'index.html' %}

{% block 'headerscripts' %}
<!--TODO Find deletebutton function, incorporate in used JS-->
<!--<script type='text/javascript'>-->
<!--function updateElementIndex(el, prefix, ndx) {-->
    <!--var id_regex = new RegExp('(' + prefix + '-\\d+)');-->
    <!--var replacement = prefix + '-' + ndx;-->
    <!--if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));-->
    <!--if (el.id) el.id = el.id.replace(id_regex, replacement);-->
    <!--if (el.name) el.name = el.name.replace(id_regex, replacement);-->
<!--}-->
<!--function cloneMore(selector, prefix) {-->
    <!--var newElement = $(selector).clone(true);-->
    <!--var total = $('#id_' + prefix + '-TOTAL_FORMS').val();-->
    <!--newElement.find(':input').each(function() {-->
        <!--var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');-->
        <!--var id = 'id_' + name;-->
        <!--$(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');-->
    <!--});-->
    <!--total++;-->
    <!--$('#id_' + prefix + '-TOTAL_FORMS').val(total);-->
    <!--$(selector).after(newElement);-->
    <!--var conditionRow = $('.form-row:not(:last)');-->
    <!--conditionRow.find('.btn.add-form-row')-->
    <!--.removeClass('btn-success').addClass('btn-danger')-->
    <!--.removeClass('add-form-row').addClass('remove-form-row')-->
    <!--.html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');-->
    <!--return false;-->
<!--}-->
<!--function deleteForm(prefix, btn) {-->
    <!--var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());-->
    <!--if (total > 1){-->
        <!--btn.closest('.form-row').remove();-->
        <!--var forms = $('.form-row');-->
        <!--$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);-->
        <!--for (var i=0, formCount=forms.length; i<formCount; i++) {-->
            <!--$(forms.get(i)).find(':input').each(function() {-->
                <!--updateElementIndex(this, prefix, i);-->
            <!--});-->
        <!--}-->
    <!--}-->
    <!--return false;-->
<!--}-->
<!--$(document).on('click', '.add-form-row', function(e){-->
    <!--console.log("JJJ I'm in the button's call")-->
    <!--e.preventDefault();-->
    <!--cloneMore('.form-row:last', 'form');-->
    <!--return false;-->
<!--});-->
<!--$(document).on('click', '.remove-form-row', function(e){-->
    <!--e.preventDefault();-->
    <!--deleteForm('form', $(this));-->
    <!--return false;-->
<!--});-->
<!--</script>-->


{% endblock %}

{% block 'contents' %}

Make or edit your tags.

<form method="post">
    {% csrf_token %}

    <h5>Polyrhythm</h5>
    {{ poly_form.as_p }}
    <br>

    <div class="left-form">
    <h5>Rhythm 1</h5>
    {{ rhythm1_form.as_p }}
    <br>
        {{ rhythm1_beats_formset.management_form }}
        <div id="form_set_rhythm1">
            {% for form in rhythm1_beats_formset.forms %}
                <table class='no_error'>
                    <h4>beat</h4>
                    {{ form.as_table }}
                </table>
            {% endfor %}
        </div>
        <input type="button" value="Add More" id="add_more_rhythm1">
        <div id="empty_form_rhythm1" style="display:none">
            <table class='no_error'>
                {{ rhythm1_beats_formset.empty_form.as_table }}
            </table>
        </div>
    </div>

    <div class="right-form">
    <h5>Rhythm 2</h5>
    {{ rhythm2_form.as_p }}
    <br>
        {{ rhythm2_beats_formset.management_form }}
        <div id="form_set_rhythm2">
            {% for form in rhythm2_beats_formset.forms %}
                <table class='no_error'>
                    <h4>beat</h4>
                    {{ form.as_table }}
                </table>
            {% endfor %}
        </div>
        <input type="button" value="Add More" id="add_more_rhythm2">
        <div id="empty_form_rhythm2" style="display:none">
            <table class='no_error'>
                {{ rhythm2_beats_formset.empty_form.as_table }}
            </table>
        </div>
    </div>

    <input value='Submit' type="submit">
</form>




<script>
    // Add more fields to rhythm1 and rhythm2 formsets
    // TODO Merge these two functions

    $('#add_more_rhythm1').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set_rhythm1').append($('#empty_form_rhythm1').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

    $('#add_more_rhythm2').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set_rhythm2').append($('#empty_form_rhythm2').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

</script>

{% endblock %}