{% extends 'index.html' %}

{% block 'pageheader' %}
{% endblock %}

{% block 'contents' %}
<h1> Polyrhythms </h1>

<table class="table">
    <thead>
        <tr>
          <th scope="col">Polyrhythm (click to display)</th>
          <th scope="col">Edit</th>
          <th scope="col">Description</th>
          <th scope="col">Timings</th>
        </tr>
    </thead>
    <tbody>
        {% for poly in polys %}

            <tr>
                <td> <a href="{% url 'polyrhythm_display' poly_id=poly.id %}">{{poly.poly_name}}</a></td>
                <td> <a href="{% url 'rhythms_edit' poly_id=poly.id %}">Edit</a> </td>
                <td>{{poly.description}}</td>
                <td>{{poly.rhythm1.timing}} over {{poly.rhythm2.timing}} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}